.vercel
# Created by venv; see https://docs.python.org/3/library/venv.html


git init
git add .
git commit -m "Initial commit"

# Ignore Python virtual environment
venv/
__pycache__
*.pyc

# Ignore other unnecessary files
*.log
*.env
